<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>2014/1/1</key><string>赤口</string>
<key>2014/1/2</key><string>先勝</string>
<key>2014/1/3</key><string>友引</string>
<key>2014/1/4</key><string>先負</string>
<key>2014/1/5</key><string>仏滅</string>
<key>2014/1/6</key><string>大安</string>
<key>2014/1/7</key><string>赤口</string>
<key>2014/1/8</key><string>先勝</string>
<key>2014/1/9</key><string>友引</string>
<key>2014/1/10</key><string>先負</string>
<key>2014/1/11</key><string>仏滅</string>
<key>2014/1/12</key><string>大安</string>
<key>2014/1/13</key><string>赤口</string>
<key>2014/1/14</key><string>先勝</string>
<key>2014/1/15</key><string>友引</string>
<key>2014/1/16</key><string>先負</string>
<key>2014/1/17</key><string>仏滅</string>
<key>2014/1/18</key><string>大安</string>
<key>2014/1/19</key><string>赤口</string>
<key>2014/1/20</key><string>先勝</string>
<key>2014/1/21</key><string>友引</string>
<key>2014/1/22</key><string>先負</string>
<key>2014/1/23</key><string>仏滅</string>
<key>2014/1/24</key><string>大安</string>
<key>2014/1/25</key><string>赤口</string>
<key>2014/1/26</key><string>先勝</string>
<key>2014/1/27</key><string>友引</string>
<key>2014/1/28</key><string>先負</string>
<key>2014/1/29</key><string>仏滅</string>
<key>2014/1/30</key><string>大安</string>
<key>2014/1/31</key><string>先勝</string>
<key>2014/2/1</key><string>友引</string>
<key>2014/2/2</key><string>先負</string>
<key>2014/2/3</key><string>仏滅</string>
<key>2014/2/4</key><string>大安</string>
<key>2014/2/5</key><string>赤口</string>
<key>2014/2/6</key><string>先勝</string>
<key>2014/2/7</key><string>友引</string>
<key>2014/2/8</key><string>先負</string>
<key>2014/2/9</key><string>仏滅</string>
<key>2014/2/10</key><string>大安</string>
<key>2014/2/11</key><string>赤口</string>
<key>2014/2/12</key><string>先勝</string>
<key>2014/2/13</key><string>友引</string>
<key>2014/2/14</key><string>先負</string>
<key>2014/2/15</key><string>仏滅</string>
<key>2014/2/16</key><string>大安</string>
<key>2014/2/17</key><string>赤口</string>
<key>2014/2/18</key><string>先勝</string>
<key>2014/2/19</key><string>友引</string>
<key>2014/2/20</key><string>先負</string>
<key>2014/2/21</key><string>仏滅</string>
<key>2014/2/22</key><string>大安</string>
<key>2014/2/23</key><string>赤口</string>
<key>2014/2/24</key><string>先勝</string>
<key>2014/2/25</key><string>友引</string>
<key>2014/2/26</key><string>先負</string>
<key>2014/2/27</key><string>仏滅</string>
<key>2014/2/28</key><string>大安</string>
<key>2014/3/1</key><string>友引</string>
<key>2014/3/2</key><string>先負</string>
<key>2014/3/3</key><string>仏滅</string>
<key>2014/3/4</key><string>大安</string>
<key>2014/3/5</key><string>赤口</string>
<key>2014/3/6</key><string>先勝</string>
<key>2014/3/7</key><string>友引</string>
<key>2014/3/8</key><string>先負</string>
<key>2014/3/9</key><string>仏滅</string>
<key>2014/3/10</key><string>大安</string>
<key>2014/3/11</key><string>赤口</string>
<key>2014/3/12</key><string>先勝</string>
<key>2014/3/13</key><string>友引</string>
<key>2014/3/14</key><string>先負</string>
<key>2014/3/15</key><string>仏滅</string>
<key>2014/3/16</key><string>大安</string>
<key>2014/3/17</key><string>赤口</string>
<key>2014/3/18</key><string>先勝</string>
<key>2014/3/19</key><string>友引</string>
<key>2014/3/20</key><string>先負</string>
<key>2014/3/21</key><string>仏滅</string>
<key>2014/3/22</key><string>大安</string>
<key>2014/3/23</key><string>赤口</string>
<key>2014/3/24</key><string>先勝</string>
<key>2014/3/25</key><string>友引</string>
<key>2014/3/26</key><string>先負</string>
<key>2014/3/27</key><string>仏滅</string>
<key>2014/3/28</key><string>大安</string>
<key>2014/3/29</key><string>赤口</string>
<key>2014/3/30</key><string>先勝</string>
<key>2014/3/31</key><string>先負</string>
<key>2014/4/1</key><string>仏滅</string>
<key>2014/4/2</key><string>大安</string>
<key>2014/4/3</key><string>赤口</string>
<key>2014/4/4</key><string>先勝</string>
<key>2014/4/5</key><string>友引</string>
<key>2014/4/6</key><string>先負</string>
<key>2014/4/7</key><string>仏滅</string>
<key>2014/4/8</key><string>大安</string>
<key>2014/4/9</key><string>赤口</string>
<key>2014/4/10</key><string>先勝</string>
<key>2014/4/11</key><string>友引</string>
<key>2014/4/12</key><string>先負</string>
<key>2014/4/13</key><string>仏滅</string>
<key>2014/4/14</key><string>大安</string>
<key>2014/4/15</key><string>赤口</string>
<key>2014/4/16</key><string>先勝</string>
<key>2014/4/17</key><string>友引</string>
<key>2014/4/18</key><string>先負</string>
<key>2014/4/19</key><string>仏滅</string>
<key>2014/4/20</key><string>大安</string>
<key>2014/4/21</key><string>赤口</string>
<key>2014/4/22</key><string>先勝</string>
<key>2014/4/23</key><string>友引</string>
<key>2014/4/24</key><string>先負</string>
<key>2014/4/25</key><string>仏滅</string>
<key>2014/4/26</key><string>大安</string>
<key>2014/4/27</key><string>赤口</string>
<key>2014/4/28</key><string>先勝</string>
<key>2014/4/29</key><string>仏滅</string>
<key>2014/4/30</key><string>大安</string>
<key>2014/5/1</key><string>赤口</string>
<key>2014/5/2</key><string>先勝</string>
<key>2014/5/3</key><string>友引</string>
<key>2014/5/4</key><string>先負</string>
<key>2014/5/5</key><string>仏滅</string>
<key>2014/5/6</key><string>大安</string>
<key>2014/5/7</key><string>赤口</string>
<key>2014/5/8</key><string>先勝</string>
<key>2014/5/9</key><string>友引</string>
<key>2014/5/10</key><string>先負</string>
<key>2014/5/11</key><string>仏滅</string>
<key>2014/5/12</key><string>大安</string>
<key>2014/5/13</key><string>赤口</string>
<key>2014/5/14</key><string>先勝</string>
<key>2014/5/15</key><string>友引</string>
<key>2014/5/16</key><string>先負</string>
<key>2014/5/17</key><string>仏滅</string>
<key>2014/5/18</key><string>大安</string>
<key>2014/5/19</key><string>赤口</string>
<key>2014/5/20</key><string>先勝</string>
<key>2014/5/21</key><string>友引</string>
<key>2014/5/22</key><string>先負</string>
<key>2014/5/23</key><string>仏滅</string>
<key>2014/5/24</key><string>大安</string>
<key>2014/5/25</key><string>赤口</string>
<key>2014/5/26</key><string>先勝</string>
<key>2014/5/27</key><string>友引</string>
<key>2014/5/28</key><string>先負</string>
<key>2014/5/29</key><string>大安</string>
<key>2014/5/30</key><string>赤口</string>
<key>2014/5/31</key><string>先勝</string>
<key>2014/6/1</key><string>友引</string>
<key>2014/6/2</key><string>先負</string>
<key>2014/6/3</key><string>仏滅</string>
<key>2014/6/4</key><string>大安</string>
<key>2014/6/5</key><string>赤口</string>
<key>2014/6/6</key><string>先勝</string>
<key>2014/6/7</key><string>友引</string>
<key>2014/6/8</key><string>先負</string>
<key>2014/6/9</key><string>仏滅</string>
<key>2014/6/10</key><string>大安</string>
<key>2014/6/11</key><string>赤口</string>
<key>2014/6/12</key><string>先勝</string>
<key>2014/6/13</key><string>友引</string>
<key>2014/6/14</key><string>先負</string>
<key>2014/6/15</key><string>仏滅</string>
<key>2014/6/16</key><string>大安</string>
<key>2014/6/17</key><string>赤口</string>
<key>2014/6/18</key><string>先勝</string>
<key>2014/6/19</key><string>友引</string>
<key>2014/6/20</key><string>先負</string>
<key>2014/6/21</key><string>仏滅</string>
<key>2014/6/22</key><string>大安</string>
<key>2014/6/23</key><string>赤口</string>
<key>2014/6/24</key><string>先勝</string>
<key>2014/6/25</key><string>友引</string>
<key>2014/6/26</key><string>先負</string>
<key>2014/6/27</key><string>赤口</string>
<key>2014/6/28</key><string>先勝</string>
<key>2014/6/29</key><string>友引</string>
<key>2014/6/30</key><string>先負</string>
<key>2014/7/1</key><string>仏滅</string>
<key>2014/7/2</key><string>大安</string>
<key>2014/7/3</key><string>赤口</string>
<key>2014/7/4</key><string>先勝</string>
<key>2014/7/5</key><string>友引</string>
<key>2014/7/6</key><string>先負</string>
<key>2014/7/7</key><string>仏滅</string>
<key>2014/7/8</key><string>大安</string>
<key>2014/7/9</key><string>赤口</string>
<key>2014/7/10</key><string>先勝</string>
<key>2014/7/11</key><string>友引</string>
<key>2014/7/12</key><string>先負</string>
<key>2014/7/13</key><string>仏滅</string>
<key>2014/7/14</key><string>大安</string>
<key>2014/7/15</key><string>赤口</string>
<key>2014/7/16</key><string>先勝</string>
<key>2014/7/17</key><string>友引</string>
<key>2014/7/18</key><string>先負</string>
<key>2014/7/19</key><string>仏滅</string>
<key>2014/7/20</key><string>大安</string>
<key>2014/7/21</key><string>赤口</string>
<key>2014/7/22</key><string>先勝</string>
<key>2014/7/23</key><string>友引</string>
<key>2014/7/24</key><string>先負</string>
<key>2014/7/25</key><string>仏滅</string>
<key>2014/7/26</key><string>大安</string>
<key>2014/7/27</key><string>先勝</string>
<key>2014/7/28</key><string>友引</string>
<key>2014/7/29</key><string>先負</string>
<key>2014/7/30</key><string>仏滅</string>
<key>2014/7/31</key><string>大安</string>
<key>2014/8/1</key><string>赤口</string>
<key>2014/8/2</key><string>先勝</string>
<key>2014/8/3</key><string>友引</string>
<key>2014/8/4</key><string>先負</string>
<key>2014/8/5</key><string>仏滅</string>
<key>2014/8/6</key><string>大安</string>
<key>2014/8/7</key><string>赤口</string>
<key>2014/8/8</key><string>先勝</string>
<key>2014/8/9</key><string>友引</string>
<key>2014/8/10</key><string>先負</string>
<key>2014/8/11</key><string>仏滅</string>
<key>2014/8/12</key><string>大安</string>
<key>2014/8/13</key><string>赤口</string>
<key>2014/8/14</key><string>先勝</string>
<key>2014/8/15</key><string>友引</string>
<key>2014/8/16</key><string>先負</string>
<key>2014/8/17</key><string>仏滅</string>
<key>2014/8/18</key><string>大安</string>
<key>2014/8/19</key><string>赤口</string>
<key>2014/8/20</key><string>先勝</string>
<key>2014/8/21</key><string>友引</string>
<key>2014/8/22</key><string>先負</string>
<key>2014/8/23</key><string>仏滅</string>
<key>2014/8/24</key><string>大安</string>
<key>2014/8/25</key><string>友引</string>
<key>2014/8/26</key><string>先負</string>
<key>2014/8/27</key><string>仏滅</string>
<key>2014/8/28</key><string>大安</string>
<key>2014/8/29</key><string>赤口</string>
<key>2014/8/30</key><string>先勝</string>
<key>2014/8/31</key><string>友引</string>
<key>2014/9/1</key><string>先負</string>
<key>2014/9/2</key><string>仏滅</string>
<key>2014/9/3</key><string>大安</string>
<key>2014/9/4</key><string>赤口</string>
<key>2014/9/5</key><string>先勝</string>
<key>2014/9/6</key><string>友引</string>
<key>2014/9/7</key><string>先負</string>
<key>2014/9/8</key><string>仏滅</string>
<key>2014/9/9</key><string>大安</string>
<key>2014/9/10</key><string>赤口</string>
<key>2014/9/11</key><string>先勝</string>
<key>2014/9/12</key><string>友引</string>
<key>2014/9/13</key><string>先負</string>
<key>2014/9/14</key><string>仏滅</string>
<key>2014/9/15</key><string>大安</string>
<key>2014/9/16</key><string>赤口</string>
<key>2014/9/17</key><string>先勝</string>
<key>2014/9/18</key><string>友引</string>
<key>2014/9/19</key><string>先負</string>
<key>2014/9/20</key><string>仏滅</string>
<key>2014/9/21</key><string>大安</string>
<key>2014/9/22</key><string>赤口</string>
<key>2014/9/23</key><string>先勝</string>
<key>2014/9/24</key><string>先負</string>
<key>2014/9/25</key><string>仏滅</string>
<key>2014/9/26</key><string>大安</string>
<key>2014/9/27</key><string>赤口</string>
<key>2014/9/28</key><string>先勝</string>
<key>2014/9/29</key><string>友引</string>
<key>2014/9/30</key><string>先負</string>
<key>2014/10/1</key><string>仏滅</string>
<key>2014/10/2</key><string>大安</string>
<key>2014/10/3</key><string>赤口</string>
<key>2014/10/4</key><string>先勝</string>
<key>2014/10/5</key><string>友引</string>
<key>2014/10/6</key><string>先負</string>
<key>2014/10/7</key><string>仏滅</string>
<key>2014/10/8</key><string>大安</string>
<key>2014/10/9</key><string>赤口</string>
<key>2014/10/10</key><string>先勝</string>
<key>2014/10/11</key><string>友引</string>
<key>2014/10/12</key><string>先負</string>
<key>2014/10/13</key><string>仏滅</string>
<key>2014/10/14</key><string>大安</string>
<key>2014/10/15</key><string>赤口</string>
<key>2014/10/16</key><string>先勝</string>
<key>2014/10/17</key><string>友引</string>
<key>2014/10/18</key><string>先負</string>
<key>2014/10/19</key><string>仏滅</string>
<key>2014/10/20</key><string>大安</string>
<key>2014/10/21</key><string>赤口</string>
<key>2014/10/22</key><string>先勝</string>
<key>2014/10/23</key><string>友引</string>
<key>2014/10/24</key><string>先負</string>
<key>2014/10/25</key><string>仏滅</string>
<key>2014/10/26</key><string>大安</string>
<key>2014/10/27</key><string>赤口</string>
<key>2014/10/28</key><string>先勝</string>
<key>2014/10/29</key><string>友引</string>
<key>2014/10/30</key><string>先負</string>
<key>2014/10/31</key><string>仏滅</string>
<key>2014/11/1</key><string>大安</string>
<key>2014/11/2</key><string>赤口</string>
<key>2014/11/3</key><string>先勝</string>
<key>2014/11/4</key><string>友引</string>
<key>2014/11/5</key><string>先負</string>
<key>2014/11/6</key><string>仏滅</string>
<key>2014/11/7</key><string>大安</string>
<key>2014/11/8</key><string>赤口</string>
<key>2014/11/9</key><string>先勝</string>
<key>2014/11/10</key><string>友引</string>
<key>2014/11/11</key><string>先負</string>
<key>2014/11/12</key><string>仏滅</string>
<key>2014/11/13</key><string>大安</string>
<key>2014/11/14</key><string>赤口</string>
<key>2014/11/15</key><string>先勝</string>
<key>2014/11/16</key><string>友引</string>
<key>2014/11/17</key><string>先負</string>
<key>2014/11/18</key><string>仏滅</string>
<key>2014/11/19</key><string>大安</string>
<key>2014/11/20</key><string>赤口</string>
<key>2014/11/21</key><string>先勝</string>
<key>2014/11/22</key><string>仏滅</string>
<key>2014/11/23</key><string>大安</string>
<key>2014/11/24</key><string>赤口</string>
<key>2014/11/25</key><string>先勝</string>
<key>2014/11/26</key><string>友引</string>
<key>2014/11/27</key><string>先負</string>
<key>2014/11/28</key><string>仏滅</string>
<key>2014/11/29</key><string>大安</string>
<key>2014/11/30</key><string>赤口</string>
<key>2014/12/1</key><string>先勝</string>
<key>2014/12/2</key><string>友引</string>
<key>2014/12/3</key><string>先負</string>
<key>2014/12/4</key><string>仏滅</string>
<key>2014/12/5</key><string>大安</string>
<key>2014/12/6</key><string>赤口</string>
<key>2014/12/7</key><string>先勝</string>
<key>2014/12/8</key><string>友引</string>
<key>2014/12/9</key><string>先負</string>
<key>2014/12/10</key><string>仏滅</string>
<key>2014/12/11</key><string>大安</string>
<key>2014/12/12</key><string>赤口</string>
<key>2014/12/13</key><string>先勝</string>
<key>2014/12/14</key><string>友引</string>
<key>2014/12/15</key><string>先負</string>
<key>2014/12/16</key><string>仏滅</string>
<key>2014/12/17</key><string>大安</string>
<key>2014/12/18</key><string>赤口</string>
<key>2014/12/19</key><string>先勝</string>
<key>2014/12/20</key><string>友引</string>
<key>2014/12/21</key><string>先負</string>
<key>2014/12/22</key><string>大安</string>
<key>2014/12/23</key><string>赤口</string>
<key>2014/12/24</key><string>先勝</string>
<key>2014/12/25</key><string>友引</string>
<key>2014/12/26</key><string>先負</string>
<key>2014/12/27</key><string>仏滅</string>
<key>2014/12/28</key><string>大安</string>
<key>2014/12/29</key><string>赤口</string>
<key>2014/12/30</key><string>先勝</string>
<key>2014/12/31</key><string>友引</string>
</dict>
</plist>
