<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>Color_01</string>
		<key>name</key>
		<string>navy</string>
		<key>nav_bg</key>
		<string>000080</string>
		<key>nav_text</key>
		<string>FFFFFF</string>
		<key>tab_segctr</key>
		<string>000080</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Color_02</string>
		<key>name</key>
		<string>blue</string>
		<key>nav_bg</key>
		<string>0000FF</string>
		<key>nav_text</key>
		<string>FFFFFF</string>
		<key>tab_segctr</key>
		<string>0000FF</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Color_03</string>
		<key>name</key>
		<string>skyblue</string>
		<key>nav_bg</key>
		<string>87CEEB</string>
		<key>nav_text</key>
		<string>FFFFFF</string>
		<key>tab_segctr</key>
		<string>87CEEB</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Color_04</string>
		<key>name</key>
		<string>green</string>
		<key>nav_bg</key>
		<string>008000</string>
		<key>nav_text</key>
		<string>FFFFFF</string>
		<key>tab_segctr</key>
		<string>008000</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Color_05</string>
		<key>name</key>
		<string>yellow</string>
		<key>nav_bg</key>
		<string>FFD700</string>
		<key>nav_text</key>
		<string>FFFFFF</string>
		<key>tab_segctr</key>
		<string>FFD700</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Color_06</string>
		<key>name</key>
		<string>orange</string>
		<key>nav_bg</key>
		<string>FFA500</string>
		<key>nav_text</key>
		<string>FFFFFF</string>
		<key>tab_segctr</key>
		<string>FFA500</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Color_07</string>
		<key>name</key>
		<string>brown</string>
		<key>nav_bg</key>
		<string>A52A2A</string>
		<key>nav_text</key>
		<string>FFFFFF</string>
		<key>tab_segctr</key>
		<string>A52A2A</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Color_08</string>
		<key>name</key>
		<string>red</string>
		<key>nav_bg</key>
		<string>FF0000</string>
		<key>nav_text</key>
		<string>FFFFFF</string>
		<key>tab_segctr</key>
		<string>FF0000</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Color_09</string>
		<key>name</key>
		<string>pink</string>
		<key>nav_bg</key>
		<string>FFC0CB</string>
		<key>nav_text</key>
		<string>FFFFFF</string>
		<key>tab_segctr</key>
		<string>FFC0CB</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Color_10</string>
		<key>name</key>
		<string>purple</string>
		<key>nav_bg</key>
		<string>800080</string>
		<key>nav_text</key>
		<string>FFFFFF</string>
		<key>tab_segctr</key>
		<string>800080</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Color_11</string>
		<key>name</key>
		<string>black</string>
		<key>nav_bg</key>
		<string>000000</string>
		<key>nav_text</key>
		<string>FFFFFF</string>
		<key>tab_segctr</key>
		<string>000000</string>
	</dict>
</array>
</plist>
