<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>Theme_01</string>
		<key>name</key>
		<string>heart</string>
		<key>nav_bg</key>
		<string>FF91AC</string>
		<key>nav_text</key>
		<string>333333</string>
		<key>tab_segctr</key>
		<string>FF91AC</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Theme_02</string>
		<key>name</key>
		<string>dots</string>
		<key>nav_bg</key>
		<string>E91B27</string>
		<key>nav_text</key>
		<string>333333</string>
		<key>tab_segctr</key>
		<string>E91B27</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Theme_03</string>
		<key>name</key>
		<string>pencil</string>
		<key>nav_bg</key>
		<string>A59BF4</string>
		<key>nav_text</key>
		<string>333333</string>
		<key>tab_segctr</key>
		<string>A59BF4</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Theme_04</string>
		<key>name</key>
		<string>star</string>
		<key>nav_bg</key>
		<string>E2007E</string>
		<key>nav_text</key>
		<string>333333</string>
		<key>tab_segctr</key>
		<string>E2007E</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Theme_05</string>
		<key>name</key>
		<string>valentine_red</string>
		<key>nav_bg</key>
		<string>FFFFFF</string>
		<key>nav_text</key>
		<string>222222</string>
		<key>tab_segctr</key>
		<string>CC18D1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Theme_06</string>
		<key>name</key>
		<string>border</string>
		<key>nav_bg</key>
		<string>E7569B</string>
		<key>nav_text</key>
		<string>333333</string>
		<key>tab_segctr</key>
		<string>E7569B</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Theme_07</string>
		<key>name</key>
		<string>wave_pattern</string>
		<key>nav_bg</key>
		<string>000090</string>
		<key>nav_text</key>
		<string>EEEEEE</string>
		<key>tab_segctr</key>
		<string>000090</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Theme_08</string>
		<key>name</key>
		<string>japanese_pattern</string>
		<key>nav_bg</key>
		<string>1E3555</string>
		<key>nav_text</key>
		<string>FFFFFF</string>
		<key>tab_segctr</key>
		<string>1E3555</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Theme_09</string>
		<key>name</key>
		<string>wave</string>
		<key>nav_bg</key>
		<string>63A1BA</string>
		<key>nav_text</key>
		<string>333333</string>
		<key>tab_segctr</key>
		<string>63A1BA</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Theme_10</string>
		<key>name</key>
		<string>network</string>
		<key>nav_bg</key>
		<string>589CFD</string>
		<key>nav_text</key>
		<string>333333</string>
		<key>tab_segctr</key>
		<string>589CFD</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Theme_11</string>
		<key>name</key>
		<string>steel</string>
		<key>nav_bg</key>
		<string>000000</string>
		<key>nav_text</key>
		<string>FFFFFF</string>
		<key>tab_segctr</key>
		<string>000000</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Theme_12</string>
		<key>name</key>
		<string>zodiac_1</string>
		<key>nav_bg</key>
		<string>000000</string>
		<key>nav_text</key>
		<string>FF86AF</string>
		<key>tab_segctr</key>
		<string>000000</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Theme_13</string>
		<key>name</key>
		<string>zodiac_2</string>
		<key>nav_bg</key>
		<string>000000</string>
		<key>nav_text</key>
		<string>51FFFF</string>
		<key>tab_segctr</key>
		<string>000000</string>
	</dict>
	<dict>
		<key>id</key>
		<string>Theme_14</string>
		<key>name</key>
		<string>zodiac_3</string>
		<key>nav_bg</key>
		<string>000000</string>
		<key>nav_text</key>
		<string>80FC7F</string>
		<key>tab_segctr</key>
		<string>000000</string>
	</dict>
</array>
</plist>
